
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
/* YELLOW: #FFC107 */
/* RED   : #E76A6A */
/* GREEN : #60E467 */
/* BG    : #E1E3E4 */
/* FG    : #F0F0F0 */

.oswald{
    font-family: "Oswald", sans-serif;
}

html {
    overflow-y: scroll;
}
body{
    
    background: #e1e3e4;
}
@media (min-width: 1200px) {
    body .container{
        max-width: 1250px;
    }
}
.loginbox{
    border-radius: 5px;
    border: rgb(207, 207, 207) 1px solid;
    padding: 10px 200px 10px;
    margin: auto;
    background: white
}
.title{
    font-family: 'Oswald', sans-serif
}
h3, h6, h1{
    font-family: 'Oswald', sans-serif;
    font-weight: bolder;
}
.register-card, .set-up-card{
    border-radius: 15px;
    padding: 40px 80px 40px;
    background: #f9f9f9;
    border: white 1px solid;
    box-shadow: 4px 4px 8px rgba(0,0,0,.1), -4px -4px 8px rgba(255, 255, 255, .5); 
}
.register-card{
    height: auto;
    width: 500px;
}
.set-up-card{
    width: 500px;
    height: 500px;
}
input{
    border:rgb(255,255,255) 1px solid !important;
    border-radius: 20px !important;
    box-shadow: inset 4px 4px 8px rgba(0,0,0,.1), inset -4px -4px 8px rgba(255, 255, 255, .8); 
    overflow: hidden;
    padding: 5px 10px;
    outline: none;
    background-color: rgba(0,0,0,0);
}
input::placeholder{
    color:rgb(146, 155, 165)
}
.card-selector{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    transition: all 0.2s ease-in-out;
    color: black;
    padding-top: 10px;
    cursor: pointer;
    box-shadow: 4px 4px 8px rgba(0,0,0,.1), -4px -4px 8px rgba(255, 255, 255, .9); 
    border: 2px #f9f9f9 solid;
}
.card-selector p{
    font-size: xx-large;
    font-weight: 900;
    font-family: "Oswald", sans-serif;
    text-shadow: 0 0 8px rgba(0, 0, 0, .50);
}
.row-course{
    margin-bottom: 0;
}
.small-size{
    font-size: .7rem;
    color: #999
}
.fa-sort-up, .fa-sort-down{
    filter: invert();
    cursor: pointer;
}

.select-buttons-materials{
    font-family: 'Oswald', sans-serif;
}
.navigation-buttons{
    padding: 5px 20px; 
    border-radius: 15px; 
    box-shadow: 4px 4px 8px rgba(0,0,0,.1), -4px -4px 8px rgba(255, 255, 255, .4); 
    border: 1px #f9f9f9 solid;
    background: #f0f0f0;
}
.QuickLynx{
    padding: 20px 15px; 
    border-radius: 15px; 
    box-shadow: inset 4px 4px 8px rgba(0,0,0,.1), inset -4px -4px 8px rgba(255, 255, 255, .4); 
    border: 1px #f9f9f9 solid;
    background: #f0f0f0;
    color: rgb(0,0,0);
}
.QuickLynx span{
    padding: 5px 15px;
    border-radius: 15px; 
    box-shadow: 4px 4px 8px rgba(0,0,0,.1), -4px -4px 8px rgba(255, 255, 255, .4); 
    border: 1px #f9f9f9 solid;
    cursor: pointer;
}
.nav-links{
    color: rgb(96, 228, 103)
}
li a.navigation-buttons{
    text-decoration: none !important;
    color: rgb(33,37, 41);
    transition: .2s;
    outline: 0;
}
a{
    text-decoration: none !important;
}
li a.navigation-buttons:hover{
    color: rgb(33,37, 41);
    text-shadow: 0px 0px 10px rgb(87, 255, 87);
    transition: .2s;
}
li a.negative:hover{
    color: rgb(33,37, 41);
    text-shadow: 0px 0px 10px rgb(255, 91, 91);
    transition: .2s;
}
.navers{
    border: 1px solid rgba(0,0,0,0);
    text-decoration: none;
    color: rgb(33,37,41);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1px 5px;
    border-radius: 10px;
    transition: .2s;
}
.navers:hover{
    border: 1px solid #f9f9f9;
    color: rgb(33,37,41);
    box-shadow: 2px 2px 4px rgba(0,0,0,.2), -2px -2px 4px rgba(255,255,255,.4);
}
.navers:active, .navers:focus, .navers_active{
    border: 1px solid #f9f9f9;
    color: rgb(33,37,41);
    box-shadow: inset 2px 2px 4px rgba(0,0,0,0.2), -2px -2px 4px rgba(255,255,255,.4);
}
.header{
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    border: 1px #f9f9f9 solid;
    background: #f0f0f0;
    min-height: 75px;
    color: black;
    box-shadow: 4px 4px 8px rgba(0,0,0,.1), -4px -4px 8px rgba(255, 255, 255, .4); 
}
.f{
    border-radius: 15px;
    border: 1px #f9f9f9 solid;
    background: #f0f0f0;
    box-shadow: 4px 4px 8px rgba(0,0,0,.1), -4px -4px 8px rgba(255, 255, 255, .4); 
    margin-top: 10px;
    margin-bottom: 10px;
}
.post-icons{
    filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.4));
}
.post-icons:active{
    filter: drop-shadow(0px 0px 0px white);
}
.post-btn{
    border-radius: 20px;
    padding: 2px 15px;
    box-shadow: 4px 4px 8px rgba(0,0,0,0.150), -4px -4px 8px rgba(255,255,255, 1);
    font-weight: bolder;
    font-size: larger;
    border: 1px #f9f9f9 solid;
    outline: none;
    vertical-align: super !important;
    padding-left: 20px;
    padding-right: 20px;
    

}
.search{
    border: 1px solid white;
    border-radius: 10px !important;
    box-shadow: inset 4px 4px 8px rgba(0,0,0,.1), inset -4px -4px 8px rgba(255, 255, 255, .8); 
    overflow: hidden;
    padding: 5px 10px;
    outline: none;
    background-color: rgba(0,0,0,0);
    width: 100%;
}
.search::placeholder{
    font-weight: bolder;
    color:rgb(146, 155, 165)
}
.search-container{
    border-radius: 15px; 
    box-shadow: 4px 4px 8px rgba(0,0,0,.1), -4px -4px 8px rgba(255, 255, 255, .4); 
    border: 1px #f9f9f9 solid;
    background: #f0f0f0;
    color: rgb(0,0,0);
    padding: 10px
}

/* YELLOW: #FFC107 */
/* RED   : #E76A6A */
/* GREEN : #60E467 */
/* BG    : #E1E3E4 */
/* FG    : #F0F0F0 */

.modal-content{
    background: #e1e3e4;
    border-radius: 15px;
}

.your-name{
    font-family: 'Oswald', sans-serif;
    text-shadow: 2px 2px 4px rgba(0,0,0,.2), -2px -2px 4px rgba(255, 255, 255, 1);
    color: rgb(0,0,0);
    cursor: pointer;
}
.modal-title{
    font-family: "Oswald", sans-serif;
    font-size: 32px;
    font-weight: 900;
}
.modal-header {
    border-bottom: 0 none;
}

.modal-footer {
    border-top: 0 none;
}
.form-group{
    border-radius: 15px; 
    box-shadow: 4px 4px 8px rgba(0,0,0,.1), -4px -4px 8px rgba(255, 255, 255, .5); 
    border: 1px #f9f9f9 solid;
    background: #f0f0f0;
    color: rgb(0,0,0);
    padding: 10px;
}
.form-group label{
    font-family: "Oswald", sans-serif;
}
.upcoming{
    border-radius: 15px;
    box-shadow: 4px 4px 8px rgba(0,0,0,0.1), -4px -4px 8px rgba(255,255,255,.5);
    border: 1px #f9f9f9 solid;
    background: #f0f0f0;
    color: rgb(0,0,0);
    padding: 15px 15px;
    margin-top: 10px;
}
.upcoming-title{
    font-family: "Oswald", sans-serif;
    font-weight: bolder;
    text-shadow: 4px 4px 8px rgba(0,0,0,.2);
    font-size: 30px;
}
.upcoming-event, .upcoming-event-2{
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 4px 4px 8px rgba(0,0,0,0.1), -4px -4px 8px rgba(255,255,255,.5);
    border: 1px #f9f9f9 solid;
    background: #f0f0f0;
    color: rgb(0,0,0);
}
.upcoming-event{
    margin-top: 10px;
    margin-bottom: 10px;
}
.upcoming-event-2{
    margin-top: 5px;
    margin-bottom: 15px;
}
.upcoming-date{
    display: inline-block;
    vertical-align: middle;
    padding: 0;
    width: 60px;
}
.upcoming-date-date{
    display: inline-block;
    font-size: 36px;
    font-family: "Oswald", sans-serif;
    padding: 0;
}
.upcoming-date-daymonth{
    display: inline-block;
    padding: 0;
    font-size: 12px;
    font-family: "Oswald", sans-serif;
}
.upcoming-date-day{
    display: block;
    padding: 0;
}
.upcoming-date-month{
    display: block;
    padding: 0;
}
.upcoming-name{
    display: inline-flex;
    justify-content: right;
    vertical-align: middle;
    font-family: "Oswald", sans-serif;
    font-size: 24px;
    width: 160px;
    text-overflow: ellipsis;
    height: 55px;

    /* Required for text-overflow to do anything */
    white-space: nowrap;
    overflow: hidden;
}
.upcoming-name span{
    display: flex;
    justify-content: right;
    align-items: center;
}
.upcoming-name:hover{
    text-overflow: clip;
    white-space: normal;
}
.fa-calendar-plus{
    cursor: pointer;
}
.clear-btn{
    border: 1px solid rgb(211, 211, 211);
    border-radius: 20px;
    background: rgba(0,0,0,0);
    margin: 5px;
    font-weight: bold;
}
.textarea-2{
    margin: 5px 0px 15px;
}
.select-css {
    display: block;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: #444;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    width: 100%;
    max-width: 100%; 
    box-sizing: border-box;
    margin: 0;
    border: 1px solid rgb(216, 216, 216);
    border-radius: 15px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    box-shadow: inset 4px 4px 8px rgba(0,0,0,.1), inset -4px -4px 8px rgba(255, 255, 255, .8); 
}
.select-css::-ms-expand {
    display: none;
}
.select-css:hover {
    border-color: #888;
}
.select-css option {
    font-weight:normal;
}