{% load filename %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../static/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans|Fjalla+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Carter+One&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC|Carter+One&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>QuickLynx | {{classroom.room_name}}</title>
    <style>
        body{
            margin: 0;
        }
        li{
            list-style-type: none;
        }
        .links{
            font-size: 25px;
            font-weight: bolder;
            margin: 10px 0 10px;
        }
        textarea {
            border: 1px solid white;
            margin: 0px 10px 10px;
            border-radius: 15px;
            box-shadow: inset 4px 4px 8px rgba(0,0,0,.1), inset -4px -4px 8px rgba(255, 255, 255, .8); 
            overflow: hidden;
            padding: 5px 5px;
            outline: none;
            background-color: rgba(0,0,0,0);
            width: auto;
        }
        textarea::placeholder{
            font-weight: bolder;
            color:rgb(185, 194, 206)
        }
        .control-img{
            margin: 0 5px 0;
            cursor: pointer;
        }
        .control-img:hover{
            filter: opacity(50%)
        }
        .form-control:focus{
            border-color: #cccccc;
            -webkit-box-shadow: none;
            box-shadow: none;
        }
        .aligner {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
        
        .aligner-item {
          max-width: 50%;
        }
        
        .aligner-item-top {
          align-self: flex-start;
        }
        
        .aligner-item-bottom {
          align-self: flex-end;
        }
        .upvotedownvote{
            padding: 0;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <!-- LEFT COLUMN -->
                <div class="col-3 " style="min-height: 100vh;">
                    <!-- LOGO -->
                    
                    <!-- BUTTONS -->
                    <div class="row sticky-top">
                        <div class="container" style="padding-top: 0px; padding-left: 50px">
                            <div class="row">
                                <ul>
                                    <li>
                                        <div class="row" style="min-height: 75px;">
                                            <h1 style="margin-top: 10px;" class="QuickLynx"><span onclick="location.href='/home/'">QuickLynx</span></h1>
                                        </div>
                                    </li>
                                    <li class="links" style="margin-bottom: 20px;"><a href="/home/" class="navigation-buttons"><i class="fas fa-home nav-links"></i> Home</a></li>
                                    <li class="links" style="margin-bottom: 20px;"><a href="/dashboard/" class="navigation-buttons"><i class="fas fa-columns nav-links"></i> Dash</a></li>
                                    <li class="links" style="margin-bottom: 20px;"><a href="/message/" class="navigation-buttons"><i class="fas fa-comment nav-links"></i> Messages</a></li>
                                    <li class="links" style="margin-bottom: 20px;"><a href="#" class="navigation-buttons"><i class="fas fa-bell nav-links"></i> Notifications</a></li>
                                    <li class="links" style="margin-bottom: 20px;"><a href="#" class="navigation-buttons"><i class="fas fa-video nav-links"></i> Duo</a></li>
                                    <li class="links" style="margin-bottom: 20px;"><a href="/logout/" class="navigation-buttons negative"><i class="fas fa-sign-out-alt" style="color: rgb(231, 106, 106)"></i> Sign Out</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="container" style="padding: 20px;">
                            <!-- <div class="row">
                                <ul>
                                    <li class="links"><a href="#" id="POST">Posts</a></li>
                                    <li class="links"><a href="#" id="MATERIALS">Materials</a></li>
                                    <li class="links"><a href="#" id="ATTENDANCE">Attendance</a></li>
                                    <li class="links"><a href="#" id="GRADES">Grades</a></li>
                                    <li class="links"><a href="#" id="MEMBERS">Members</a></li>
                                </ul>
                            </div> -->
                        </div>
                    </div>
                </div>
                <!-- MIDDLE COLUMN-->
                <div class="col-6" style="min-height: 100vh;">
                    <div class="row f text-center">
                        <div class="col-2"><a class="navers" href="/classroom/{{classroom.room_name}}/{{classroom.semester}}/{{classroom.year_start}}" id="POST">Posts</a></div>
                        <div class="col-2"><a class="navers navers_active" href="#" id="MATERIALS">Materials</a></div>
                        <div class="col-4"><a class="navers" href="#" id="ATTENDANCE">Attendance</a></div>
                        <div class="col-2"><a class="navers" href="#" id="GRADES">Grades</a></div>
                        <div class="col-2"><a class="navers" href="#" id="MEMBERS">Members</a></div>
                        <!-- <ul class="navers">
                            <li class="col-2"><a href="#" id="POST">Posts</a></li>
                            <li class="col-2"><a href="#" id="MATERIALS">Materials</a></li>
                            <li class="col-2"><a href="#" id="ATTENDANCE">Attendance</a></li>
                            <li class="col-2"><a href="#" id="GRADES">Grades</a></li>
                            <li class="col-2"><a href="#" id="MEMBERS">Members</a></li>
                        </ul> -->
                    </div>
                    <!-- some modals -->
                    <div class="modal" id="editaccount" style="color: black; text-shadow: 0 0 0 white">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Edit your name</h4>
                                    <button class="close" type="button" data-dismiss="modal">&times;</button>
                                </div>
                                <div class="modal-body">
                                    <form action="/editaccount/" method="POST">{%csrf_token%}
                                        <div class="form-group">
                                            <label for="fname">First Name</label>
                                            <input type="text" name="first_name" id="fname" class="form-control form-control-sm" value="{{account.account.first_name}}">
                                        </div>
                                        <div class="form-group">
                                            <label for="lname">Last Name</label>
                                            <input type="text" name="last_name" id="lname" class="form-control form-control-sm" value="{{account.account.last_name}}">
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-info">Confirm Changes</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if account.account.login.category == "PROFESSOR" %}
                        <div class="modal" id="changeheaderpix" style="color: black">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Change Header</h4>
                                        <button class="close" type="button" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="/editheader/{{classroom.room_name}}" method="POST" enctype="multipart/form-data">{%csrf_token%}
                                            <img id="blah" src="#" alt="Header" style="object-fit: cover; background-size:cover; background-position:center; height:95px; width:460px">
                                            <div class="form-group">
                                                <input type="file" class="form-control-file" id="imgInp" name="headerpix">
                                            </div>
                                            <div class="form-group">
                                                <button class="btn btn-info" type="submit">Change</button>
                                            </div>
                                        </form> 
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal" id="editroom" style="color: black">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Edit this classroom</h4>
                                        <button class="close" type="button" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="/editclassroom/{{classroom.room_name}}/{{classroom.semester}}/{{classroom.year_start}}" method="POST">{%csrf_token%}
                                            <div class="form-group">
                                                <label for="invite_token">Token</label>
                                                <input type="text" id="invite_token" readonly="readonly" value="{{classroom.invite_token}}" class="col">
                                            </div>
                                            <div class="form-group">
                                                <label for="room_name">Subject Code / Subject Name</label>
                                                <input type="text" placeholder="Classroom Name" name="room_name" class="col" value="{{classroom.room_name}}" id="room_name"required>
                                            </div>
                                            <div class="form-group">
                                                <label for="time_start">Time Start</label>
                                                <input type="time" name="time_start" id="time_start" class="col" value="{{classroom.time_start|time:'H:i'}}" required>
                                                <label for="time_end">Time End</label>
                                                <input type="time" name="time_end" id="time_end" class="col" value="{{classroom.time_end|time:'H:i'}}" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="days">Days</label>
                                                <input type="text" name="days" id="days" class="col" placeholder="MTh/TF/W/S" value="{{classroom.days}}" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="date_start">Date Start</label>
                                                <input type="date" name="date_start" id="date_start" class="col" value="{{classroom.date_start|date:'Y-m-d'}}" required>
                                                <label for="date_end">Date End</label>
                                                <input type="date" name="date_end" id="date_end" class="col" value="{{classroom.date_end|date:'Y-m-d'}}" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="year">Year</label>
                                                <input type="text" name="year_start" id="year" class="col" value="{{classroom.year_start}}" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="semester">Semester</label>
                                                <select class="form-control form-control-sm" id="semester" name="semester" required>
                                                    <option value="" style="color:#999">Choose Semester</option>
                                                    <option value="FIRST" {% if classroom.semester == "FIRST" %} selected {%endif%}>1st Semester</option>
                                                    <option value="SECOND" {% if classroom.semester == "SECOND" %} selected {%endif%}>2nd Semester</option>
                                                    <option value="SUMMER" {% if classroom.semester == "SUMMER" %} selected {%endif%}>Summer</option>
                                                </select>
                                            </div>
                                            <button type="submit" class="btn btn-info">Confirm Changes</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {%endif%}
                    <!-- end of modoal -->
                    <!-- HEADER -->
                    
                    <!-- TEXT AREA -->
                    <!-- POST TAB -->

                    <!-- MATERIALS TAB -->
                    <div class="MIDDLEMATERIALS" id="MIDDLEMATERIALS">
                        <div class="row header">
                            <div class="aligner col-12" style="margin-top: 10px;">
                                <h3 style="color: rgb(0,0,0); text-shadow: 2px 2px 4px rgba(0,0,0,.2), -2px -2px 4px rgba(255, 255, 255, 1);cursor: pointer" data-toggle="modal" data-target="#editroom" title="Edit this Room">{{classroom.room_name}}</h3>
                                <div style="height: 100%; width: 100px; cursor: pointer" title="Change Header" data-toggle="modal" data-target="#changeheaderpix"></div>
                                <span><span class="your-name" data-toggle="modal" data-target="#editaccount">{{account.account.first_name}}</span>
                                    {%if account.account.propix|length == 0 %}
                                        <img src="../media/pictures/default_avatar-2.gif" alt="" style="object-fit: cover; border-radius: 50px; margin: 0 10px 0" height="50px" width="50px">
                                    {%endif%}
                                    {%if account.account.propix|length > 0 %}
                                        <img src="{{account.account.propix.url}}" alt="" style="object-fit: cover; border-radius: 50px; margin: 0 10px 0" height="50px" width="50px">
                                    {%endif%}
                                </span>
                            </div>
                            <div class="col-12">
                                <div class="row">
                                    <h1 class="text-center col">Materials</h1>
                                </div>
                            </div>
                        </div>
                        <div class="row text-center border-bottom select-buttons-materials">
                            <div id="lectures" class="col" style="cursor: pointer; color: rgb(102, 188, 238); background: rgb(10, 0, 81)">Lectures</div>
                            <div id="assignments" class="col border-right border-left" style="cursor: pointer; color: rgb(175, 85, 226);">Assignments</div>
                            <div id="quizzes" class="col" style="cursor: pointer; color: rgb(236, 105, 105);">Quizzes</div>
                        </div>
                        <!-- Lecture button -->
                        <div id="mainlecture">
                        {% if account.account.login.category == "PROFESSOR" %}
                            <div class="row">
                                <button class="btn btn-success col" style="border-radius: 0; margin-bottom: 20px" type="button" data-toggle="modal" data-target="#addlecture">Add Lecture</button>
                            </div>
                        {%endif%}
                        <!-- ADD LECTURE MODAL -->
                        <div class="modal" id="addlecture" style="color: black">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Add Lecture</h4>
                                        <button class="close" type="button" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="/addlecture/{{classroom.room_name}}" method="POST" enctype="multipart/form-data">{%csrf_token%}
                                            <div class="form-group">
                                                <label for="lectureno">Lecture No.</label>
                                                <input type="text" id="lectureno" name="no" class="form-control form-control-sm">
                                            </div>
                                            <div class="form-group">
                                                <label for="lectitle">Lecture Title</label>
                                                <input type="text" id="lectitle" name="title" class="form-control form-control-sm">
                                            </div>
                                            <div class="form-group">
                                                <label for="file">File</label>
                                                <input type="file" id="file" name="file_loc" class="form-control-file">
                                            </div>
                                            <button type="submit" class="btn btn-info">Add</button>
                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- ADD LECTURE MODAL END -->
                        <!-- button end -->
                        <!-- LECTURE MAIN -->
                        {% if lectures|length != 0 %}
                            {%for lecture in lectures|dictsort:"no"%}
                            <div class="row border-top border-bottom" onclick="location.href='/download/{{lecture.file_loc|filename}}'" style="cursor: pointer;">
                                <div class="col-1 border-right aligner ">
                                    <i class="fas fa-book-open" style="color: rgb(164, 211, 207);" class="aligner-item"></i>
                                </div>
                                <div class="col-11">
                                    <span style="font-weight: bold; color: rgb(63, 150, 201);">LECTURE NO. {{lecture.no}} </span>
                                    <span style="font-weight: bold;">{{lecture.title}}</span><br>
                                    <span style="font-size: .7rem; vertical-align:super; color: #888">{{lecture.file_loc|filename|stringformat:'s'}}</span>
                                </div>
                            </div>
                            {%endfor%}
                        {%else%}
                            <div class="row border-top border-bottom">
                                <span class="col">No Lecture</span>
                            </div>
                        {%endif%}
                        </div>
                        <!-- END OF Lectures -->
                        <!-- ASSIGNMENT MAIN -->
                        <div id="mainassignments" style="display: none;">
                            {% if account.account.login.category == "PROFESSOR" %}
                            <div class="row">
                                <button class="btn btn-success col" style="border-radius: 0; margin-bottom: 20px" type="button" data-toggle="modal" data-target="#addassignment">Add Assignment</button>
                            </div>
                            {%endif%}
                            <span class="text-danger"><i class="fas fa-exclamation-triangle text-warning"></i> Under construction</span>
                        </div>
                        <!-- END OF ASSIGNMENT -->
                        <!-- QUIZZES MAIN -->
                        <div id="mainquizzes" style="display: none;">
                            {% if account.account.login.category == "PROFESSOR" %}
                            <div class="row">
                                <button class="btn btn-success col" style="border-radius: 0; margin-bottom: 20px" type="button" data-toggle="modal" data-target="#addquiz">Add Quiz</button>
                            </div>
                            {%endif%}
                            <span class="text-danger"><i class="fas fa-exclamation-triangle text-warning"></i> Under construction 2</span>
                        </div>
                        <!-- END QUIZZES -->
                    </div>
                    <!-- END OF MATERIALS TAB -->

                    <!-- ATTENDANCE TAB -->
                    <!-- END OF ATTENDANCE TAB -->

                    <!-- GRADES TAB -->
                    <!-- END OF GRADES TAB -->

                    <!-- MEMBERS TAB -->
                    <!-- END OF MEMBERS TAB -->

                </div>

                
                <!-- RIGHT COLUMN -->
                <div class="col-3 text-center sticky-top" style="min-height: 100vh; padding-top: 10px; padding-bottom: 10px">
                    <div class="row text-center" style="margin: 0;">
                        <div class="search-container col">
                            <input type="text" class="search" placeholder="Search..">
                            <!-- <span class="links" style="margin: 0 5px 0;font-size: 15px; align-self:flex-end">Upcoming <i class="control-img far fa-calendar" title="Create Event"></i></span> -->
                        </div>
                    </div>
                    <div class="row" style="margin: 0;">
                        <div class="col upcoming text-left">
                            <span class="upcoming-title">{%if account.account.login.category == "PROFESSOR"%}<i title="Add Event" class="far fa-calendar-plus" id="add-event-button" data-toggle="modal" data-target="#add-event-modal"></i> &nbsp; {%endif%}Upcoming</span>
                            <!-- add event javascript -->
                            <div class="upcoming-event-2" id="create-event" style="display: none;">
                                <div class="font-weight-bold">Create Event</div>
                                <form action="/addeventfromdash/{{classroom.room_name}} {{classroom.semester}} {{classroom.year_start}}" method="POST">{%csrf_token%}
                                    <input type="text" name="title" class="col mt-1 mb-1" placeholder="Event Name" required>
                                    <input type="date" name="date" class="col mt-1 mb-1" required>
                                    <textarea class="textarea-2" name="desc" id="" cols="22" rows="2" placeholder="Description"></textarea>
                                    <select name="classroom" id="chooseroom" class="col select-css" required>
                                        <option value="" selected style="color:#aaa;">Choose Classroom</option>
                                        {%for room in account.classroom.all%}
                                            <option value="{{room.room_name|stringformat:'s'}} {{room.semester|stringformat:'s'}} {{room.year_start|stringformat:'s'}}">{{room.room_name}} {{room.semester}} {{room.year_start}}</option>
                                        {%endfor%}
                                    </select>
                                    <button class="clear-btn" type="submit">Add</button>
                                </form>
                            </div>
                            <!-- end add event javascript -->
                            {% now "Y-m-d" as todays_date%}
                            {%for event in events%}
                            {%if event.classroom in account.classroom.all%}
                            {%if todays_date < event.date|date:"Y-m-d"%}
                            <div class="upcoming-event">
                                <div class="upcoming-date">
                                    <div class="upcoming-date-date">
                                        <span>{{event.date|date:"d"}}</span>
                                    </div>
                                    <div class="upcoming-date-daymonth">
                                        <div class="upcoming-date-day">
                                            {%with day=event.date|date:"D"|stringformat:"s"%}
                                                {%if day == "Tue" or day == "Fri"%}
                                                    <span style="color:#efad2d">{{day}}</span>
                                                {%elif day == "Mon" or day == "Thu"%}
                                                    <span style="color:#2dccef">{{day}}</span>
                                                {%elif day == "Wed"%}
                                                    <span style="color:#9a2def">{{day}}</span>
                                                {%elif day == "Sat"%}
                                                    <span style="color:#ef2d2d">{{day}}</span>
                                                {%else%}
                                                    <span>{{day}}</span>
                                                {%endif%}
                                            {%endwith%}
                                        </div>
                                        <div class="upcoming-date-month">
                                            <span>{{event.date|date:"M"}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="upcoming-name text-right">
                                    <span>{{event.title}} in {{event.classroom.room_name}}</span>
                                </div>
                            </div>
                            {%endif%}
                            {%endif%}
                            {%endfor%}
                        </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(function(){
            $("#add-event-button").click(function(e){
                $("#create-event").toggle("display")
            })
        })
    </script>
    <script>
        function upvote(post_id){
            $.ajax({
                url: "/upvote/"+post_id,
                dataType: 'json',
                success: function(){
                    $("#refreshup"+post_id).load(location.href + " #refreshup"+post_id)
                    $("#nums"+post_id).load(location.href + " #nums"+post_id)
                }
            })
        }

        function downvote(post_id){
            $.ajax({
                url: "/downvote/"+post_id,
                dataType: 'json',
                success: function(){
                    $("#refreshdown"+post_id).load(location.href + " #refreshdown"+post_id)
                    $("#nums"+post_id).load(location.href + " #nums"+post_id)
                }
            })
        }
    </script>
    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
              var reader = new FileReader();
              
              reader.onload = function(e) {
                $('#blah').attr('src', e.target.result);
              }
              
              reader.readAsDataURL(input.files[0]);
            }
          }
          
          $("#imgInp").change(function() {
            readURL(this);
          });
    </script>
</body>
</html>